body{
      background-color: #888;
}
#allcontent {
      width: 1250px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #eaeef0;
      margin-left: auto;
      margin-right: auto;
      color: #073e4e;
}
div#tableContainer {
      display: table;
      border-spacing: 10px;
}

div#tableRow {
      display: table-row;
}

#main {
      display: table-cell;
      background-color: #ffffff;
      font-size: 100%;
      padding: 15px;
      vertical-align: top;
      width:38%;
}

#sidebar {
      display: table-cell;
      background:#d1d1d1;
      font-size: 105%;
      padding: 5px;
      vertical-align: top;
      width:20%;
}


#jsmolbar {
      display: table-cell;
      background: #fcfcfc;
      font-size: 105%;
      padding: 15px;
      vertical-align: top;
      width:38%;
}

#header {
      background-color: #eaeef0;
      margin: 10px 10px 0px 10px;
      height: 108px;
      color: #01383f;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer {
      background-color: #096c79;
      color: #fdfdfd;
      text-align: center;
      padding: 15px;
      margin: 0px 5px 5px 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 70%;
}

#resulttable, th, td {
      border: 1px solid;
      font-size: 80%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      color:black;
      background-color:white;
}

form label, legend{
    font-size: 80%;
    color: black;
}

nav {
      font-size: 80%;
      background-color:#096c79;
      color:white;
      margin: 10px 10px 0px 10px;
}
nav ul {
      margin: 0px;
      list-style-type: none;
      padding: 5px 5px 5px 5px;
}
nav ul li {
      border-right: 2px solid black;
      display: inline;
      padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
      color: #FFFFFF;
      border-bottom: none;
      font-weight: bold;
}
nav li:hover:not(.active) {
      background-color: #223335;
}
nav ul li.selected {
      background-color: #223335;
}
form {
      display: table;
      padding: 10px;
      border: thin dotted #d1d1d1;
      background-color: #d1d1d1;
}


#appdiv{
     position: fixed;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #096c79;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  color: efe5d0;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #096c79;
  color: white;
}
